<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>SENDIT</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">Our Courier Services <i class="fa fa-paper-plane"></i></div>
        <div class="content">
            <div class="users">Users <i class="fa fa-users"></i></div>
            <div class="orders">Orders <i class="fa fa-motorcycle"></i></div>
            <div class="pickups">Pickups <i class="fa fa-map-marker"></i></div>
            <div class="deliveries">Deliveries <i class="fa fa-location-arrow"></i></div>
            <div class="parcel">Parcel <i class="fa fa-product-hunt"></i></div>
            <div class="payment">Payment <i class="fa fa-money"></i></div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>