<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services  |  Customers Parcel orders</div>
    
    <div class="container">
        <div class="content">
            <!-- <div class="table-head">
                Customers Parcel orders
            </div> -->
            <div class="logo"></div>
                <table class="table">
                   <tr><th>Client-Name</th> <th>Parcel</th><th>Parcel-weight(kgs)</th><th>Parcel description</th><th>Price(Ushs)</th><th>Pickup</th><th>Destination</th><th>Status</th><th>Action</th> </tr>
                   <tr><td> Mukiibi</td><td>Flowers</td> <td>less than 20</td><td>pink colored</td><td>25000</td><td>Najeera</td><td>Kikoni</td><td>On the way</td><td><button><a href="../templates/update_order.html">Edit</a></button> <button><a href="../templates/cancel_order.html">Cancel</a></button></td> </tr>
                   
                </table>
        </div>
        <div class="footer"><i class="fa fa-paper-plane"></i>@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
    <!-- <script src="../static/main.js"></script> -->
</body>
</html>