<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services  |  Contact Us Form</div>
    <div class="links">
            <a href="../../index.html">Logout</a>
            <a href="../templates/signup.html">Sign up</a>
            <a href="../templates/contact.html">Feedback</a>
            <a href="../templates/view_order.html">Single Order</a>
            <a href="../templates/user.html">Client</a>
            <a href="../templates/create_order.html">Create Order</a>
            <a href="../templates/cancel_order.html">Cancel Order</a>
            <a href="../templates/update_user.html">Update User</a>


    </div>
    <div class="container">
        <div class="header"></div>
        <div class="content">
                  
            <form>
                <div class="form-head">
                    Please write to us here !
                </div>
                <div class="logo"></div>
                <div class="input">
                    <div class="row">
                        <div class="col-25"><label for="client">Client-Name</label></div>
                        <div class="col-75"><input type="text" id="client" onfocus="this.value=''" placeholder="what is your username?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="client-email">Client-Email</label></div>
                            <div class="col-75"><input type="text" id="client-email" onfocus="this.value=''" placeholder="what is your email ?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="client-location">Client</label></div>
                            <div class="col-75"><input type="text" id="client-location" onfocus="this.value=''" placeholder="what is your current location ?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="suggestion">Suggestions</label></div>
                            <div class="col-75"><textarea rows="10" cols="60" id="suggestion" onfocus="this.value=''"> write to us your comments about our courier services.....</textarea></div>
                    </div>

                    <div>
                        <input type="submit" value="Send suggestion" id="suggest">
                    </div>
                </div>
            </form>
        </div>
        <div class="footer"><i class="fa fa-paper-plane"></i>@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
    <!-- <script src="../static/main.js"></script> -->
</body>
</html>