<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services  | New Driver Information</div>
    <div class="links">
            <a href="../../index.html">Logout</a>
            <a href="../templates/admin.html">Admin</a>
            <a href="../templates/signup.html">Sign up</a>
            <a href="../templates/contact.html">Feedback</a>
            <a href="../templates/view_orders.html">All Orders </a>
            <a href="../templates/delivery_form.html">Register Driver </a>
            <a href="../templates/update_order.html">Update Order </a>
            <a href="../templates/create_driver.html">Create Driver </a>

    </div>
    <div class="container">
        <div class="header"></div>
        <div class="content">
                  
            <form>
                <div class="form-head">
                    Register Drivers
                </div>
                <div class="logo"></div>
                <div class="input">
                    <div class="row">
                        <div class="col-25"><label for="parcel">Driver-Name</label></div>
                        <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="what is your parcel ?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="parcel">Driver-Experience</label></div>
                            <div class="col-75"><input type="text" id="parcel-weight" onfocus="this.value=''" placeholder="what is your parcel-weight ?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="parcel">Driver-Contact</label></div>
                            <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="what is your parcel ?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="parcel">Driving License</label></div>
                            <div class="col-75"><input type="text" id="price" onfocus="this.value=''" placeholder="what is your parcel price ?"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="parcel">Driver-Schedule</label></div>
                        <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="what is your parcel ?"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="parcel" >Destination</label></div>
                        <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="what is your parcel ?"></div>
                    </div>
                    <div>
                        <input type="submit" value="Send Order" id="send-order">
                    </div>
                </div>
            </form>
        </div>
        <div class="footer"><i class="fa fa-paper-plane"></i>@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
    <!-- <script src="../static/main.js"></script> -->
</body>
</html>