<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services </div>
    <div class="container">
        <div class="header"></div>
        <div class="content">
                  
            <form>
                <div class="form-head">
                    Create a new parcel order delivery
                </div>
                <div class="logo"></div>
                <div class="input">
                    <div class="row">
                        <div class="col-25"><label for="parcel">Parcel</label></div>
                        <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="what is your parcel ?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="parcel">Parcel-Weight</label></div>
                            <div class="col-75"><input type="text" id="parcel-weight" onfocus="this.value=''" placeholder="what is your parcel-weight ?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="parcel">Parcel description</label></div>
                            <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="what is your parcel ?"></div>
                    </div>
                    <div class="row">
                            <div class="col-25"><label for="parcel">Price</label></div>
                            <div class="col-75"><input type="text" id="price" onfocus="this.value=''" placeholder="what is your parcel price ?"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="parcel">Pickup</label></div>
                        <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="what is your parcel ?"></div>
                    </div>
                    <div class="row">
                        <div class="col-25"><label for="parcel" >Destination</label></div>
                        <div class="col-75"><input type="text" id="parcel" onfocus="this.value=''" placeholder="what is your parcel ?"></div>
                    </div>
                    <div>
                        <input type="submit" value="Send Order" id="send-order">
                    </div>
                </div>
            </form>
        </div>
        <div class="footer">@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
    <script src="../static/main.js"></script>
</body>
</html>