<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services </div>
    <div class="container">
        <div class="content">
            <div class="table-head">
                Customers Parcel orders
            </div>
            <div class="logo"></div>
                <table id="table">
                   <tr><th>To</th><th>From</th> <th>Parcel</th><th>Parcel-weight(kgs)</th><th>Parcel description</th><th>Price(Ushs)</th><th>Pickup</th><th>Destination</th><th>Status</th></tr>
                   <tr><td><input type="text" val> Mukiibi</td>Akram<td></td> <td>Flowers</td><td>5</td><td>pink colored</td> <td>25000</td><td>Najeera</td><td>Kikoni</td><td>On the way</td></tr>
                   
                </table>
        </div>
        <div class="footer">@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>      
    </div>
    <script src="../static/main.js"></script>
</body>
</html>