<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services  |  Update Parcel orders</div>
    
    <div class="container">
        <div class="content">
            <!-- <div class="table-head">
                Customers Parcel orders
            </div> -->
            <div class="logo"></div>
                <table class="table">
                    <tr><th>Client-Name<td><input type="text"></td></th></tr>
                    <tr><th>Parcel<td><input type="text"></td></th></tr>
                    <tr><th>Parcel-weight (kgs)<td><input type="text"></td></th></tr>
                    <tr><th>Parcel description<td><input type="text"></td></th></tr>
                    <tr><th>Price<td><input type="text"></td></th></tr>
                    <tr><th>Pickup<td><input type="text"></td></th></tr>
                    <tr><th>Destination<td><input type="text"></td></th></tr>
                   
                </table>
        </div>
        <div class="footer"><i class="fa fa-paper-plane"></i>@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
    <!-- <script src="../static/main.js"></script> -->
</body>
</html>