<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services  |   Update User Profile</div>
    <div class="links">
            <a href="../../index.html">Logout</a>
            <a href="../templates/signup.html">Sign up</a>
            <a href="../templates/contact.html">Feedback</a>
            <a href="../templates/view_order.html">Single Order</a>
            <a href="../templates/user.html">Client</a>
            <a href="../templates/create_order.html">Create Order</a>
            <a href="../templates/cancel_order.html">Cancel Order</a>
            <a href="../templates/update_user.html">Update User</a>


    </div>
    <div class="container">
        
        <div class="content">
            <!-- <div class="table-head">
                Customers Parcel orders
            </div> -->
            <div class="logo"></div>
                <table class="table">
                        <tr><th>Name<td><input type="text"></td></th></tr>
                        <tr><th>Email <td><input type="text"></td></th> </tr>
                        <tr><th>Phone Number <td><input type="text"></td></th> </tr>
                        <tr><th>Postal <Address></Address> <td><input type="text"></td></th> </tr>
                        <tr><th>Total Orders <td><input type="text"></td></th> </tr>
                         
                </table>
        </div>
        <div class="footer"><i class="fa fa-paper-plane"></i>@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
    <!-- <script src="../static/main.js"></script> -->
</body>
</html>