<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>SENDIT</title>
</head>
<body>
    <div class="wrapper">
        <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services </div>
        <div class="content">
            <div class="users"> <i class="fa fa-user-circle"></i><br> Profile</div>
            <div class="orders"><i class="fa fa-motorcycle"> </i><br>Create Orders</div>
            <div class="pickups"><i class="fa fa-map-marker"></i><br>Pickups </div>
            <div class="deliveries"><i class="fa fa-location-arrow"></i><br>Deliveries </div>
            <div class="parcel"><i class="fa fa-product-hunt"></i><br>See parcel orders </div>
            <div class="payment"><i class="fa fa-money"></i><br>Payment </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>