<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>SENDIT</title>
</head>
<body>
    <div class="wrapper">
        <div class="header"><i class="fa fa-paper-plane">CLIENT</i>SENDIT Courier Services 
            <div class="links">
                    <a href="../templates/contact.html">Feedback</a>
                    <a href="../templates/view_parcel.html">Single Parcel</a>
                    <a href="../templates/view_parcels.html">All Parcels</a>
                    <a href="../templates/view_order.html">Single Order</a>
                    <a href="../templates/view_orders.html">All Orders</a>
                    <a href="../templates/user.html">Client</a>
                    <a href="../templates/drivers.html">All Drivers</a>
                    <a href="../templates/delivery_form.html">Register Driver</a>
                    <a href="../templates/create_order.html">Create Order</a>
                    <a href="../templates/create_driver.html">Create Driver</a>
                    <a href="../templates/admin.html">Admin</a>
                    <a href="../templates/signup.html">Sign up</a>
                    <a href="../../index.html">Logout</a>
            </div>
        </div>
        <div class="content">
            <a href="contact.html"><div class="contact"><i class="fa fa-home"></i><br>Feedback</div></a>  
            <a href="view_order.html"><div class="users"> <i class="fa fa-user"></i><br> Your Orders</div></a>
            <a href="create_order.html"><div class="orders"><i class="fa fa-motorcycle"> </i><br>Create Order</div></a> 
            <a href="update_order.html"><div class="pickups"><i class="fa fa-map-marker"></i><br>Update Order</div></a> 
            <a href="google_maps.html"><div class="google_maps" aria-disabled="true"><i class="fa fa-location-arrow"></i><br>Google Maps </div></a>
            <a href="update_user.html"><div class="parcel"><i class="fa fa-product-hunt"></i><br>Update Profile </div></a>  
        </div>
        <div class="footer"><i class="fa fa-paper-plane"></i>@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
</body>
</html>