<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>SENDIT</title>
</head>
<body>
    <div class="header"><i class="fa fa-paper-plane"></i>SENDIT Courier Services  |  All Clients</div>
    <div class="container">
        <div class="content">
            <!-- <div class="table-head">
                Customers Parcel orders
            </div> -->
            <div class="logo"></div>
                <table class="table">
                        <tr><th>Name</th><th>Email</th> <th>Phone Number</th><th>Postal Address</th><th>Total Orders</th><th>Action</th></tr>
                        <tr><td>Mukiibi</td><td>mukiibi@gmail.com</td> <td>0752624456</td><td>Mengo</td><td>100</td><td><button><a href="update_user.html"> Edit</a></button></td></tr>
                        <tr><td>Mukiibi</td><td>mukiibi@gmail.com</td> <td>0752624456</td><td>Mengo</td><td>100</td><td><button><a href="update_user.html"> Edit</a></button></td></tr>
                        <tr><td>Mukiibi</td><td>mukiibi@gmail.com</td> <td>0752624456</td><td>Mengo</td><td>100</td><td><button><a href="update_user.html"> Edit</a></button></td></tr>    
                </table>
        </div>
        <div class="footer"><i class="fa fa-paper-plane"></i>@kigandaivan-sendit-courier services version 1.0 &copy;copyright 2018</div>
    </div>
    <!-- <script src="../static/main.js"></script> -->
</body>
</html>